 a {
     cursor: pointer;
 }

 .container {
     position: absolute;
     left: 50%;
     transform: translateX(-50%);
     background-color: rgba(0, 0, 0, 0.0);
     opacity: 1;
     top: 200px;
     width: 35%;
    
 }



 @keyframes example {
     from {
         opacity: 1;
         top: -200px
     }
     to {
         opacity: 1;
         top: 400px
     }
 }

 .show {
     position: absolute;
     animation: example 1.0s;
     opacity: 1;
     top: 400px;
 }

