
.boards-container {
    position: absolute;
    height: 500px;
    left: 50%;
    transform: translateX(-50%);

}


.boards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
    justify-items: center;
    /* border: 1px solid black; */

}

/* .boards > div:nth-of-type(odd) {
    background: url("../../../assets/images/flowers.jpg")
}

.boards > div:nth-of-type(even) {
    background: url("../../../assets/images/tattoo.jpg")
} */



.board {
    width: 200px;
    height: 110px;
    border-radius: 5px;
    font-size: 16px;
    background-color: lightcyan;
    cursor: pointer;
    filter: grayscale(40%);
    
}

.board:hover {
    
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    filter: grayscale(100%);
    transition: box-shadow 0.5;
    color: black;

}




label {
    margin-left: 10px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.container {
    margin-top: 100px;

}

.create {
    background: #F0F0F0;
    text-align: center;
    padding-top: 40px;
    cursor: pointer;
}


.create:hover {
    color: black;
    background-color: #888888;
    transition: all 0.2s;
}


.add-board-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.3);
    visibility: hidden;

}

.add-board {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    top: 15%;
    padding: 30px;
    width: 400px;
    height: 150px;
    /* background-color:rgba(225,255,255, 0.4); */
    /* background: url("../../../assets/images/flowers.jpg");
    background-repeat: no-repeat; */
    background-color: white;
    border-radius: 4px;

}


.visible {
    visibility: visible
}

.flex-column {
    display: flex;
    flex-direction: column;
}

button {
    width: 50%;
    font-size: 20px;
    margin-top: 16px;
    padding: 10px 20px;
    margin-bottom: 0px;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    outline: none;
    border: none;
    user-select: none;
    background-color: #61BD4F;;
}

button:hover {
    background-color: #49852E;
}

input {
    font-weight: bold;
    opacity: 1.0;
    background-color: rgba(0,0,0,0.0);
    outline: none;
    border: none;
    color: black;
    padding-left: 10px;
    box-shadow: 3px 3px 3px 3px lightgray;
}

input:hover {
    background-color: rgba(255,255,255, 0.4);
}

input::placeholder {
    color: lightgray;
}

#exit {
    position: absolute;
    right: 10px;
    top: -6px;
    font-size: 26px;
    color: black;
    cursor: pointer;
}

h5 {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 40px;
    color: white;
}



/* simple image background */


.camera {
    background: url("../../../assets/images/camera.jpg")
}

.desk {
    background: url("../../../assets/images/desk.jpg")
}
.face {
    background: url("../../../assets/images/face.jpg")
}
.flowers {
    background: url("../../../assets/images/flowers.jpg")
}
.monet {
    background: url("../../../assets/images/monet.jpg")
}
.mountains {
    background: url("../../../assets/images/mountains.jpg")
}
.new-york {
    background: url("../../../assets/images/new-york.jpg")
}
.pillars {
    background: url("../../../assets/images/pillars.jpg")
}
.tattoo {
    background: url("../../../assets/images/tattoo.jpg")
}
