
<div class="wrap">
  <h1>{{boardName}}</h1>
  <div class="lists" *ngFor="let list of lists">
    <div class="list">
      <h3>{{list.listName}}</h3>
      <div class="items" *ngFor="let item of list.items;let i = index; trackBy: trackByFn">
        <div class="item">
          <textarea (keydown)="resize($event)" rows="1" class="list-textarea" [(ngModel)]="list.items[i]"></textarea>
        </div>

      </div>
      <div class="new-item">
        <textarea [(ngModel)]="list.nextItem" (focus)="showButton(list, $event)" (focusout)="showButton(list, $event)" (keydown)="resize($event)"
          rows="1" class="list-textarea new" placeholder="+ Add another card"></textarea>
      </div>
      <button (mousedown)="updateList(list)" class="add-button" *ngIf="list.showAddButton"> Add Card</button>
    </div>

  </div>
  <div class="add lists list">
    <textarea [(ngModel)]="newListName" (focus)="toggleShow()" (focusout)="toggleShow()" class="add-textarea" rows="1" placeholder="+ Add another list"></textarea>
    <div *ngIf="showAddNewListButton">
      <button (mousedown)="addToList()"  class="add-button" >Add List</button>
  </div>
</div>