.container {
    width: 30%;
    transform: translateY(40%);
    text-align: center;
}

button {
    margin-top: 30px;
}

.create-account {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 60px;
}


h1 {
    display: block;
    text-align: center;
    font-size: 60px;
    text-transform: none;
    
}

a {
    color: #8BBDD9;
    text-decoration: underline
}

