.container {
    width: 30%;
    transform: translateY(40%);
    text-align: center;
}

button {
    margin-top: 30px;
}

label {
    font-size: 20px;
    margin-top: 10px;
}


h1 {

    font-size: 60px;
    text-transform: none;
    
    
}

a {
    text-decoration: underline;
    color: #8BBDD9;
    cursor: pointer;
}

.none {
    color: black;
}


.title label {
    margin-top: 0px;    

}

.title {
    margin-bottom: 20px;
}

#password {
    margin-top: 25px;
}